.header {
  display: flex;
  align-items: center;

  .project-logo {
    flex: 1;
  }

  .header-search-container {
    flex: 7;
    padding: 0px 20px 0px 20px;

    .input {
      width: 100%;
    }
  }
}