.item-reviews-container {
  .comments {
    padding-left: 10px;
  }

  .item-review-metadata {
    padding-top: 5px;
    margin-left: 0px!important;
  }

  .raised {
    margin-top: 5px!important;
  }
}