/*.right-date {
	display: inline-block;
	column-count: 3;
	padding-right: 40%;
}*/

.transaction-summary {
	column-count: 2;
}

.due-date-error {
	color: #FF0000;
	background-color: white;
}