.sign-up-form-container {
  .sign-up-form-title {
    text-align: center;
  }

  .sign-up-form {
    .checkbox {
      margin-right: 5px;
    }

    .sign-up-form-terms-and-conditions {
      cursor: pointer;
    }
  } 
}
