<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= UserProfile.where(user_id: @transaction.borrower_id).first.first_name %> cancelled their request for the item: 
    <%= Item.find(@transaction.item_id).name %>  </h1>
   
    <p>
      To login to the site, just follow this link: <%= link_to("Pending Requests", transactions_requests_user_profile_url(UserProfile.where(user_id: @transaction.lender_id).first)) %>
    </p>

  </body>
</html>