<h1>Items#index</h1>
<p>Find me in app/views/items/index.html.erb</p>

	<p>
	  <strong>Item name:</strong>
	  <br>
	  <p>
	  <% @items.each do |item| %>
	  		<p>
	  		<%= link_to(item.name, "/items/"+item.id.to_s) %>
	  		<% if user_signed_in? %>
	  			<% if item.user_id == current_user.id %>
  					<%= link_to("Edit", "/items/"+item.id.to_s) %> 
				<% end%>
	  		<% end %>
	  		</p>
	  <% end %>
	  </p>
	</p>
