<h1>Items#index</h1>
<p>Find me in app/views/items/index.html.erb</p>

<p>
	  <strong>Item name:</strong>
	  <br>
	  <% @items.each do |item| %>
	  <li><%= link_to(item.name, "/items/"+item.id.to_s) %></li>
	  <% end %>
	</p>
