<h1>Transactions#index</h1>

<table>
  <tr>
    <th>Item</th>
    <th>Borrower</th>
    <th>Lender</th>
    <th></th>
  </tr>
 
  <% @transactions.each do |transaction| %>
    <tr>
      <td><%= transaction.item_id %></td>
      <td><%= User.find(transaction.borrower_id).email %></td>
      <td><%= User.find(transaction.lender_id).email %></td>
      <td><%= link_to 'Show', transaction_path(transaction) %></td>
    </tr>
  <% end %>
</table>
