<p>
	<strong>Rating:</strong>
	<%= item_review.rating %>
</p>

<p>
	<strong>Comment:</strong>
	<%= item_review.comment %>
</p>
<p>
	<% if current_user != nil and item_review.owner_id == current_user.id %>
	<%= link_to 'Edit', edit_item_item_review_path(@item, item_review) %> 
	<% end %>
</p>
<p>
	<% if current_user != nil and item_review.owner_id == current_user.id %>
	<%= link_to 'Delete Review', [item_review.item, item_review], 
				method: :delete,
				data: { confirm: 'Are you sure?'} %>
	<%end%>
</p>

